@keyframes pulse {
  0% {opacity: 1;}
  100% {opacity: 0.5;}
}

.rcp-pulse {
  opacity: 1;
  animation: pulse .6s linear 0s infinite alternate;
}

@keyframes wave{
  0% {left: -100%;}
  100% {left: 100%;}
}
.rcp-wave {
  position: relative;
  overflow: hidden;
}
.rcp-wave:after {
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 1%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 60%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 1%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 60%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  animation: wave 1.8s linear 0s infinite;
  opacity: .3;
  overflow: hidden;
}