* {
  box-sizing: border-box;
  font-family: 'ubuntu', sans-serif;
}
.container {
  max-width: 800px;
  margin: 100px auto;
}

.row {
  margin: 0 -15px;
}

.column {
  width: 33.333333%;
  padding: 0 15px;
  float: left;
}

.component {
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
  overflow: hidden;
}

.component div {
  padding: 12px;
}

.component div p {
  margin-top: 0;
}
